[Unit]
Description=Monitoring Tool for DDN Disk Controllers
After=syslog.target network.target
#Before=

[Service]
Type=simple
#PIDFile=
#EnvironmentFile=
#ExecStartPre=
ExecStart=/usr/bin/DDNTool.py -f /etc/DDNTool.conf
#ExecStartPost=
#ExecStop=
KillSignal=SIGINT
# SIGINT instead of the default SIGTERM because the code catches the
# KeyboardInterrupt exception that's generated with a SIGINT or CTRL-C.
RemainAfterExit=False

[Install]
WantedBy=multi-user.target
